# Environments & Virtual Envs
.venv/
venv/
**/.venv/
**/venv/
ENV/
env/

# Environment Variables & Secrets
.env
.env.*
**/.env
**/.env.*

# Python Cache & Bytecode
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Uploads & Media
uploads/
**/uploads/

# Node & React dependencies / build
node_modules/
**/node_modules/
dist/
**/dist/

# OS specific files
.DS_Store
**/.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/